:root{
    --mainColor:#606B56;
    --seconderColor:#515a48;

    --borderColor:#161914;

    --mainText:#FFF;
    --seconderyText:#eeeeee;

    --themeDotBorder:#fff;

   
    --previewBg:rgb(81, 90, 72, 0.8);
     --previewShadow:#2a2f25;
     
    --btnColor:black;
}