:root{
    --mainColor:#eaeaea;
    --seconderColor:#fff;
    --borderColor:#c1c1c1;
--themeDotBorder:#24292e;
    --mainText:black;
    --seconderyText:#4b5156;
    --previewShadow:#f0ead6;
    --previewBg:rgb(251, 249, 243, 0.8);
    --btnColor:black;
}
html, body{
    padding: 0%;
    margin: 0;
}
body *{
    transition: 0.3s ease-in-out;
}
h1, h2, h3, h4, h5, h6, strong {
    color:var(--mainText);
    font-weight: 500;
}
p, li, span, label, input, textarea{
 color:var(--mainText);
 font-family: 'Roboto Mono', monospace;
}
a{
    text-decoration: none;
    color: #17a2b8;
}
ul{
    list-style: none;
}
h1{
    font-size: 56px;
    font-family: 'Russo One', sans-serif;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 28px;
    font-family: 'Russo One', sans-serif;
}
h4{
    font-size: 24px;
     font-family: 'Russo One', sans-serif;
}
h5{
    font-size: 20px;
    font-family: 'Russo One', sans-serif;
}
h6{
    font-size: 16px;
    font-family: 'Russo One', sans-serif;
}
.s1{
    background-color: var(--mainColor);
    border-bottom:1px solid var(--borderColor);
    overflow: auto;
}
.s2{
    background-color: var(--seconderColor);
    border-bottom:1px solid var(--borderColor);
    overflow: auto;
}
.main-container{
    width: 1200px;
    margin: 0 auto;
}
.greeting-wraper{
    display: grid;
    text-align: center;
    align-content: center;
    
    min-height: 20em;
}
.intro-wraper{
    background-color: var(--seconderColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: -1px 1px 3px -1px rgb(0, 0, 0, 0.75);
     -moz-box-shadow: -1px 1px 3px -1px rgb(0, 0, 0, 0.75);
      box-shadow: -1px 1px 3px -1px rgb(0, 0, 0, 0.75);
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 3em 30em;
      grid-template-areas:"nav-wrapers nav-wrapers" 
      "left-colum right-colum";
}
.nav-wraper{
    grid-area: nav-wrapers;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px dashed var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
}
.dots-wraper{
    display: flex;
    padding: 10px;
}
#dot-1{
    background-color: #f3b408;
}
#dot-2{
    background-color: #f4f80e;
}
#dot-3{
    background-color: #09a709;
}
.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;
    -webkit-box-shadow: -1px 1px 3px -1px rgb(0, 0, 0, 0.75);
     -moz-box-shadow: -1px 1px 3px -1px rgb(0, 0, 0, 0.75);
      box-shadow: -1px 1px 3px -1px rgb(0, 0, 0, 0.75);
}
#navigation{
    margin: 0;
    padding: 10px;
 
}
#navigation li{
display: inline-block;
margin-right: 5px;
margin-left: 5px;
}
.left-colum{
    grid-area: left-colum;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
#profile-pic{
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColor);

}
.theme-dot{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    margin: 5px;
    cursor: pointer;
    border: 2px solid var(--themeDotBorder);
    -webkit-box-shadow: -1px 1px 3px -1px rgb(0, 0, 0, 0.75);
     -moz-box-shadow: -1px 1px 3px -1px rgb(0, 0, 0, 0.75);
      box-shadow: -1px 1px 3px -1px rgb(0, 0, 0, 0.75);
}
#theme-option-wraper{
    display: flex;
    justify-content: center;
}
.theme-dot:hover{
    border-width: 5px;
}
#light-mode{
background-color: #fff;
}
#blue-mode{
    background-color: #192734;
}
#green-mode{
    background-color: #78866b;
}
#purple-mode{
    background-color: #7E4C74;
}
#setting-note{
    font-style: italic;
    font-size: 12px;
    text-align: center;
}
.right-colum{
    grid-area: right-colum;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
#preview-shadow{
    background-color:var( --previewShadow);
    width: 300px;
    height: 180px;
    padding-left:30px;
    padding-top:30px;
}
#preview{
    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;
    
}
.corner{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    background-color: #fff;
    position: absolute;
}
#corner-tl{
    top: -5px;
    left: -5px;
}
#corner-tr{
    top: -5px;
    right: -5px;
}
#corner-bl{
    bottom: -5px;
    left: -5px;
}
#corner-br{
    bottom: -5px;
    right: -5px;
}


.about-wraper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
   gap: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#skills{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
}
#social{
    width: 100%;
}
.social-links{
    display: grid;
    align-content: center;
    text-align: center;

}


.post-wraper{
display: grid;
grid-template-columns: repeat(auto-fit, 320px);
gap: 20px;
justify-content: center;
padding-bottom: 50px;
}
.thumbnail{
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.post{
    border: 1px solid var(--borderColor);
     -webkit-box-shadow: -1px 1px 3px -1px rgb(0, 0, 0, 0.75);
     -moz-box-shadow: -1px 1px 3px -1px rgb(0, 0, 0, 0.75);
      box-shadow: -1px 1px 3px -1px rgb(0, 0, 0, 0.75);
      transform: scale(1);
}
.post:hover{
    border: 1px solid #fff;
    transform: scale(1.05);
}
.post-preview{
    background-color: #fff;
    padding: 15px;
}
.post-title{
    color: black;
    margin: 0;
}
.post-intro{
    font-size: 16px;
    color: #4b5156;
}

#contact-form{
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;

background-color: var(--mainColor);
margin-bottom: 50px;
}
#contact-form label{
    line-height: 2.7em;
}
#contact-form textarea{
    min-height: 100px;
    font-size: 14px;
}
.input-field{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--seconderColor);
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    font-size: 14px;

}






#submit-btn{
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    color: #fff;
    background-color: var(--btnColor);
    border: none;
}
#submit-btn:hover{
    background-color: #aaf167;
    cursor: pointer;
}

@media screen and (max-width:1200px){
    .main-container{
        width: 95%;
    }
    
}
@media screen and (max-width:800px){
    
    .intro-wraper{
   
    
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 3em 30em;
      grid-template-areas:"nav-wrapers" 
                        "left-colum"
                        "right-colum";
}
.right-colum{
    justify-content: center;
}
}